
.flex-item {
  border: 3px solid hsla(256, 64%, 25%, 0.8);

  background-color: hsl(0, 0%, 76%);
  padding: 8px;
  position: relative;
  margin: 15px;
  border-radius: 3px;
}

.flex-item .flex-item-number {
  position: absolute;
  text-align: center;
  border: 1px solid rgba(255, 0, 0, 0.171);
  border-radius: 50% 50% 0 50%;
  bottom: 0;
  left: calc(100% - 1.2rem);
  width: 1.2rem;
  height: 1.2rem;
  background-color: pink;
  color: rgba(0, 0, 255, 0.564);
}


div.flex-container {
  position: relative;
  overflow: none;
  width: calc(100vw - 16px);
  /* max-height: calc(var(--panel-height)); */
  border:18px solid black;
  box-sizing:content-box;
  border-radius:20px;
  box-shadow: 5px 6px 4px 0px rgba(0, 0, 0, 0.33);
  transition-property: width, height;
  transition-duration: 0.5s;
}

@keyframes RotateOrientation{
  0%{
    transform-origin:top left;
 
  }

  50%{
    width:calc(max-width * 50%);
    height: calc(max-height 50%);
  }
  100%{
    transform:rotate(90deg);
    width:calc(max-width);
    height: calc(max-height);
  }
}

#portrait {

  width:300px;
  max-width: 300px;
  resize: vertical;
  height:100%;


}


#landscape {

  resize: both;
  width: calc(100vw- 16px);
  max-width:100%;
  transition-property: width, height;
  transition-duration: 1s;

}

div.flex-item-choices {
  padding: 0.3rem;
}


