.flex-item {
  border: 3px solid hsla(256, 64%, 25%, 0.8);
  background-color: var(--general-text-background-color);
  padding: 8px;
  position: relative;
  /* margin: 15px; */
  border-radius: 12px 0 12px 12px;
  /* border-radius: 12px 12px 0 12px; */
}

.flex-item .flex-item-number {
  position: absolute;
  text-align: center;
  border: 1px solid rgba(255, 0, 0, 0.5);
  border-radius: 50% 0 50% 50%;
  top: 0;
  left: calc(100% - 1.2rem);
  width: 1.2rem;
  height: 1.2rem;
  background-color: pink;
  color: rgba(0, 0, 255, 0.564);
}



@keyframes RotateOrientation {
  0% {
    transform-origin: top left;
  }

  50% {
    width: calc(max-width * 50%);
    height: calc(max-height 50%);
  }
  100% {
    transform: rotate(90deg);
    width: calc(max-width);
    height: calc(max-height);
  }
}

/* Block Level element assigned by browser, so it takes up full
width even if we did not explicitly assign a width */
.layout{
  resize: both;
  margin-right:8px;
  background-color: var(--panel-background-color);
}

.flex-container{
  /* margin:3px; */
  padding:6px;
  background-color: var(--flex-container-background) ;
  border:2px solid var(--panel-border-color);
  gap:4px;
  resize: both;
  width:100%;
  height:calc(100% - 23px);
}

.responsive{
  width: calc(100vw- 16px);
  height:100%;
  max-width: 100%; 
  flex-grow:1;
}



