@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --flex-item-color: hsla(15, 20%, 100%, 0.2);
  --flex-item-border-color: hsla(256, 64%, 25%, 0.8);
  --panel-border-color: #222;
  --header-color: #2ddf5c;
  --dark-green: hsl(120, 49%, 12%);
  --main-background-color: #666;
  --panel-background-color: hsl(220, 20%, 56%);
  --tab-font-color: hsl(240, 100%, 25%);
  --tab-inactive-color: hsl(230, 13%, 70%);
  --tab-active-color: var(--panel-background-color);
  --tab-hover-color: hsl(0, 0%, 65%);
  --tool-panel-width: 27.5rem;
  /* --panel-height: calc((var(--sub-panel-height) * 2) + 8px); */
  --standard-box-shadow: 2px 3px 6px 0px rgba(41, 46, 81, 0.79);
  --panel-height: calc(100vh - 92px);
}

html {
  font-family: sans-serif;
  font-size: 0.8rem;
}

/* Temporarily hide some panels during development, and also set
their display only in code when the tab is activated */
#panel-flex-items,
#panel-custom-CSS,
#panel-css-output {
  display: none;
}

.main-wrapper {
  /* height:100vh; */
  /* width:90vw; */
  margin: 0 auto;
  display: flex;
}


.tab-panel {
  width: 20rem;
  max-width: 20rem;
  margin: 4px;
}

/* To balance position on page */
.tab-panel:first-of-type {
  margin-left: 8px;
}

/* Since the text is not multiline, add some padding */
.tab-bar.layouts > .tab {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  width: 500px;
  padding: 8px;
}

.tab-bar {
  display: flex; /* took away all spacing between tabs !! */
}

.tab {
  background-color: var(--tab-inactive-color);
  border: 1px solid var(--panel-border-color);
  color: var(--tab-font-color);
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
  margin: 0;
  padding: 2px 4px;
  border-radius: 6px 6px 0 0;
}

.tab:hover {
  cursor: pointer;
  background-color: var(--tab-hover-color);
}

.tab.active-tab {
  background-color: var(--panel-background-color);
  color: navy;
  border-bottom: none;
  transition-duration: 300ms;
  transition-property: background-color, color;
  transition-timing-function: ease-out;
}

.tab-panel-contents {
  height: calc(var(--panel-height));
  max-height: calc(var(--panel-height));
}

.tab-panel-contents#settings-panel,
.flex-container {
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  border-color: var(--panel-border-color);
  background: var(--panel-background-color);
  border-radius: 0 0 6px 6px;
  box-shadow: var(--standard-box-shadow);
}

.tab-panel-contents#layouts-panel {
  /* padding: 8px; */
  width: calc(100vw - 280px);
}

.drop-down-menu {
  background: none;
  text-align: center;
  color: var(--tab-font-color);
  border: none;
  margin: 0 0.5rem;
}


/* .settings-options {
  background-color: darkslateblue;
  color: white;
  width: 100%;
  height: 1.5rem;
  vertical-align: center;
  border-bottom: 1px solid var(--panel-border-color);
}

.settings-options > * {
  display: inline-block;

  text-align: center;
  padding-top: 2px;
  width: calc(50% - 2px);
} */

/* Setting the section heights to a % requires we define the
height of their parent, which is the body. */
body {
  background-color: var(--main-background-color);
  /* height: 100vh; */
}
ul {
  list-style: none;
  /* display:inline-block; */
}

body,
div,
span,
ul {
  margin: 0px;
  padding: 0px;
}

.app-title {
  font-size: 1.3rem;
  vertical-align: middle;
}

/* MAIN HEADER */
.main-header {
  width: 100%;
  background: var(--header-color);
  color: var(--dark-green);
  font-weight: bold;
  margin: 2px 0px;
  padding: 8px 14px;
  border-bottom: 3px solid var(--dark-green);
}

/* nav, div, li are all block level elements */
.main-header > div,
.main-nav,
.main-nav-item {
  display: inline-block;
}

/* shift nav elements to far right, you need to specify a width */
.main-nav {
  text-align: right;
  vertical-align: middle;
  width: calc(100% - 220px);
}

.main-nav-item {
  margin: 0px 12px;
}

.main-nav-item a {
  text-decoration: none;
  color: inherit;
  padding: 2px 8px;
  border-radius: 8px;
  border: 1px solid var(--header-color);
}

.main-nav-item a:hover,
.main-nav-item a:active {
  cursor: pointer;
  background: wheat;
  border: 1px solid var(--dark-green);
}

.button {
  display: inherit;
  width: 50%;
  max-width: 7rem;
  margin: 0px 5px;
  border-radius: 6px;
  padding: 4px 0px;
  cursor: pointer;
}

.button:hover,
.button:focus {
  cursor: pointer;
  background-color: wheat;
}

.button-set {
  position: relative;
  background: slategray;
  padding: 8px;
  padding-left: 22px;
  display: inline-block;
  width: 100%;
}

li.input-field {
  padding: 4px;
  /* width: 100%; */
  display: flex;
  align-items: baseline;
}

.input-field:first-of-type {
  padding-top: 1.2rem;
}

.input-field .setting-item {
  flex-grow: 1;
  /* min-width:6rem; */
}

li.input-field > label {
  /* border:1px solid red; */
  font-weight: bold;
  min-width: 8rem;
  margin-left: 4px;
}

/* Position absolute ignores DOM element ordering of elements and sets up a new positioning context where this element is positioned based on its nearest neighbor in the layout that has its position property set. */

/* Display:block us used for an otherwise inline element (<span>) in order to center the text inside the containing <section>  */
span.section-title {
  padding: 6px 0px;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.3rem;
  background-color: black;
  color: white;
}

/*I ended up wrapping the <textare> in a div.flex-items-settings-block in order to style each repeating block of controls used to manipulate individual flex-items in the parent layout.  The wrapping <div> needed to be reduced by 1.4rem to make up for the left margin set on the <ol> which effectively shifted the entire <ol> to the right, truncating the width of the <li> in the <ol> and their respetive contents. */
#flex-item-text {
  font-weight: bold;
  width: 100%;
  height: 44vh;
  overflow: scroll;
  /* text-align: center; */
}

#custom-css-text,
#css-output {
  font-family: 'Arial', sans-serif;
  /* font-weight:bold; */
  font-size: 1rem;
  /* width: calc(100% - 8px); */
  margin: 0px 4px;
  height: 80vh;
  resize: none;
  overflow: auto;
  /* background:hsl(275, 79%, 13%);
  color:yellow; */
  padding: 0 4px;
}

#css-output {
  height: calc(100% - 40px);
  /* background:white; */
  /* border-bottom: 1px solid var(--panel-border-color); */
  overflow: scroll;
}
