@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap");


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --flex-item-color: hsla(15, 29%, 97%, .7);
  --flex-item-border-color: rgba(165, 46, 119, 0.365);
  --panel-border-color: #222;
  --header-color:#2ddf5c;
  --dark-green: hsl(120, 49%, 12%);
  --main-background-color: #666;
  --panel-background-color: #708090;
  --sub-panel-height: 452px;
  --panel-height: calc((var(--sub-panel-height) * 2) + 8px);
  --standard-box-shadow: 2px 3px 6px 0px rgba(41, 46, 81, 0.79);
}

html {
  font-family: sans-serif;
  font-size:0.8rem;
}

.main-wrapper{
  height:100vh;
  /* width:90vw; */
  margin: 0 auto;
  display:flex;
}

.tool-panel{
  width:27rem;
  max-width:400px;
  margin:4px;
}

.tool-panel-tab-bar{
 position:relative;
 top:0px;
}

.tool-panel-contents{

  /* display:inline-block; */
  
  height:calc(100vh - 70px);
  border:1px solid var(--panel-border-color);
  background:var(--panel-background-color);
  border-radius:0 0 6px 6px;
  box-shadow:var(--standard-box-shadow);
}



.tool-panel-tab{
  background-color:black;
  color:white;
  text-align:center;
  font-size:1rem;
  font-weight:bold;
  font-family:inherit;
  margin:0;
  padding:0 4px;
  border-radius:8px 8px 0 0;
}

.tool-panel-header.active{
  background-color:var(--panel-background-color)
}


/* Setting the section heights to a % requires we define the
height of their parent, which is the body. */
body {
  background-color: var(--main-background-color);
  /* height: 100vh; */
}
ul {
  list-style: none;
  /* display:inline-block; */
}

body,
div,
span,
ul{
  margin:0px;
  padding:0px;
}

.app-title{
  font-size: 1.3rem;
  vertical-align: middle;
}

/* MAIN HEADER */
.main-header{
  width:100%;
  background:var(--header-color);
  color: var(--dark-green);
  font-weight: bold;
  margin:2px 0px;
  padding:8px 14px;
  border-bottom:3px solid var(--dark-green);
}


/* nav, div, li are all block level elements */
.main-header > div,
.main-nav,
.main-nav-item {
  display:inline-block;
}

/* shift nav elements to far right, you need to specify a width */
.main-nav{
  text-align:right;
  vertical-align: middle;
  width:calc(100% - 220px);
}

.main-nav-item{
  margin:0px 12px;
}

.main-nav-item a{
  text-decoration:none;
  color:inherit;
  padding: 2px 8px;
  border-radius: 8px;
  border:1px solid var(--header-color);
}


.main-nav-item a:hover, 
.main-nav-item a:active {
  cursor:pointer;
  background:wheat;
  border:1px solid var(--dark-green);

}




/* PANELS */


.panel {
  display: inline-block;
  vertical-align: top;
  margin-left: 6px;
  margin-top:4px;
  background-color: var(--panel-background-color);
  border: 1px solid var(--panel-border-color);
  border-radius:5px;
  width:100px;
  height: calc(100vh - 40px);
  /* max-width: 300px; */
  box-shadow: var(--standard-box-shadow);
}

#portrait-panel{
  border: 1px solid var(--panel-border-color);
  background-color: var(--panel-background-color);
  box-shadow: var(--standard-box-shadow);
  height: calc((var(--sub-panel-height) * 2) + 8px);
  
}

#landscape-panel{
  
  width:calc(100vw - 990px);
  min-width:300px;
  
  background-color: var(--panel-background-color);
  height: calc((var(--sub-panel-height) * 2) + 8px);
  border-radius:5px;
  box-shadow: var(--standard-box-shadow);
  
}




#css-panel {
  /* border: 1px solid red; */
  /* height:360px; */
  /* height:var(--panel-height); */
  min-width: 300px;
  max-width: none;
  /* width: calc(100% - 938px); */
  /* background-color: red; */
 
  /* background:indigo; */
  /* font-family: monospace; */
}





.button {
  display: inherit;
  width: 50%;
  max-width:7rem;
  margin: 0px 5px;
  border-radius: 6px;
  padding: 4px 0px;
  cursor: pointer;
}

.button:hover,
.button:focus{
  cursor:pointer;
  background-color: wheat;
}

.button-set {
  position: relative;
  background: slategray;
  padding: 8px;
  padding-left: 22px;
  display: inline-block;
  width: 100%;
}




li.input-field,
li.dimensions {
  padding: 4px;
  /* width: 100%; */
  display: inline-block;
}


li.input-field .setting-item {
  display: inherit;
  width: 100%;
}

li.dimensions > label {
  /* border:1px solid red; */
  display: inherit;
  margin-left:4px;
  /* width: 100%; */
}

li.dimensions input[type='number'] {
  width: 50px;
}



/* Position absolute ignores DOM element ordering of elements and sets up a new positioning context where this element is positioned based on its nearest neighbor in the layout that has its position property set. */




/* Display:block us used for an otherwise inline element (<span>) in order to center the text inside the containing <section>  */
span.section-title {
  padding: 6px 0px;
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0.3rem;
  background-color: black;
  color: white;
}

/*I ended up wrapping the <textare> in a div.flex-items-settings-block in order to style each repeating block of controls used to manipulate individual flex-items in the parent layout.  The wrapping <div> needed to be reduced by 1.4rem to make up for the left margin set on the <ol> which effectively shifted the entire <ol> to the right, truncating the width of the <li> in the <ol> and their respetive contents. */
#flex-item-settings textarea {
  font-weight:bold;
  margin-top: 10px;
  width: 100%;
  overflow: scroll;
  /* text-align: center; */
}

#additional-css-text, 
#css-output{
  font-family:'Arial', sans-serif;
  /* font-weight:bold; */
  font-size:1rem;
  width: calc(100% - 8px);
  margin: 0px 4px;
  height: 356px;
  resize:none;
  overflow:auto;
  /* background:hsl(275, 79%, 13%);
  color:yellow; */
  padding:0 4px;
}

#css-output {
  height: calc(100% - 40px);
  /* background:white; */
  /* border-bottom: 1px solid var(--panel-border-color); */
  overflow:scroll;
}



