@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --flex-item-color: hsla(15, 20%, 100%, 0.2);
  --general-text-background-color: hsl(0, 0%, 82%);
  --flex-item-border-color: hsla(256, 64%, 25%, 0.24);
  --panel-border-color: #555;
  --flex-container-background: hsl(200, 10%, 65%);
  --main-background-color: #666;
  --panel-background-color: hsl(220, 20%, 80%);
  --tab-font-color: hsl(240, 100%, 25%);
  --tab-inactive-color: hsl(220, 20%, 67%);
  --tab-active-color: var(--panel-background-color);
  --tab-hover-color: hsl(0, 0%, 60%);
  --tool-panel-width: 27.5rem;
  /* --panel-height: calc((var(--sub-panel-height) * 2) + 8px); */
  --standard-box-shadow: 2px 3px 6px 0px rgba(41, 46, 81, 0.79);
  --panel-height: calc(100vh - 100px);
  --header-background-color: hsl(240, 30%, 30%);
  --header-font-color: hsl(53, 25%, 80%);
}

html {
  font-family: 'Cabin', sans-serif;
  font-size: 0.8rem;
}

#panel-flex-items,
#panel-flex-item-content,
#panel-css-output {
  display: none;
}

.main-wrapper {
  /* height:100vh;
  margin: 0 auto; */
  display: flex;
}

body {
  background-color: hsl(240, 15%, 80%);
  /* height: 100vh; */
}


body,
div,
span,
ul {
  margin: 0px;
  padding: 0px;
}

div,
span,
p,
h2,
h3,
input,
select,
textarea,
pre {
  font-family: inherit;
}

.app-title {
  /* color:var(--tab-font-color); */
  color: var(--header-font-color);
  font-size: 1.6rem;
  vertical-align: middle;
  text-shadow: 4px 3px 4px hsl(48, 12%, 40%);
}

/* MAIN HEADER */
.main-header {
  display: inline-block;
  width: 100%;
  font-weight: bold;
  padding: 8px;
  height: 3.8rem;
  border-bottom: 1px solid gray;
  background-color: var(--header-background-color);

  /* border:1px solid red; */
}

/* nav, div, li are all block level elements */
.main-header > div,
.main-nav,
.main-nav-item {
  display: inline-block;
}

/* shift nav elements to far right, you need to specify a width */
.main-nav {
  text-align: right;
  vertical-align: middle;
  width: calc(100% - 200px);
  margin-top: 0.4rem;
  /* border:1px solid red; */
}

.main-nav-item {
  margin: 0px 8px;
}

.main-nav-item a {
  text-decoration: none;
  color: var(--header-font-color);
  padding: 2px 8px;
  border: 1px solid var(--header-background-color);
  border-radius: 8px;
  font-size: 1.4rem;
}

.main-nav-item a:hover,
.main-nav-item a:active {
  cursor: pointer;
  background: var(--header-font-color);
  color: var(--header-background-color);
  border: 1px solid hsl(300, 100%, 35%);
}

.button {
  display: inline-block;
  width: 50%;
  max-width: 7rem;
  margin: 0px 5px;
  border-radius: 6px;
  padding: 4px 0px;
  cursor: pointer;
}

.button:hover {
  cursor: pointer;
  background-color: hsl(39, 77%, 83%);
}
/* .button:active {
  background-color: hsl(39, 77%, 50%);
} */

.button-set {
  background: none;
  padding: 8px;
  padding-left: 22px;
  display: inline-block;
  width: 100%;
}
.device-outline {
  margin-top: 6px;
  box-sizing: content-box;
  border: 14px solid hsl(0, 5%, 16%);
  border-radius: 14px;
  box-shadow: 5px 6px 4px 0px rgba(0, 0, 0, 0.33);
}

.mini-toolbar{
  display:flex;
  gap:0.2rem;
  justify-content: space-between;
  /* background:gray; */
  margin-bottom:0.5rem;
  width:100%;
}

.tab-panel {
  min-width: 24rem;
  max-width: 24rem;
  height: 100%;
  resize: vertical;
  /* flex-grow:0;   */
  margin: 6px;
  margin-right: 10px;
}

/* To balance position on page */
.tab-panel:first-of-type {
  margin-left: 8px;
}


.tab-bar {
  display: flex; /* took away all spacing between tabs !! */
  
}

.tab {
  background-color: var(--tab-inactive-color);
  border: 1px solid var(--panel-border-color);
  color: var(--tab-font-color);
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
  margin: 0;
  padding: 2px 5px;
  border-radius: 6px 6px 0 0;
  box-shadow: var(--standard-box-shadow);
  
}

/* .tab-bar.layouts .tab:first-of-type {
  border-radius: 6px 6px 0 6px;
}
.tab-bar.layouts .tab:last-of-type {
  border-radius: 6px 6px 6px 0;
} */

.tab:hover {
  cursor: pointer;
  background-color: var(--tab-hover-color);
}

.tab.active-tab {
  background-color: var(--header-background-color);
  /* background-color: var(--panel-background-color); */
  color: var(--header-font-color);
  /* color: navy; */
  border-bottom: none;
  transition-duration: 100ms;
  transition-property: background-color, color;
  transition-timing-function: ease-out;
}

.tab-panel-contents {
  height: calc(var(--panel-height));
  max-height: calc(var(--panel-height));
  padding-top:0.7rem;
  border-style: solid;
  border-width: 0px 1px 1px 1px;
  background: var(--header-background-color);
  /* background: var(--panel-background-color); */
  border-color: var(--panel-border-color);
  border-radius: 0 0 6px 6px;
  box-shadow: var(--standard-box-shadow);
}

#panel-flex-items,
#panel-flex-container,
#panel-flex-items-content {
  display:flex;
  flex-direction: column;
  gap:0.6rem;
}

#panel-flex-container{
  /* border:1px solid red; */
  height:300px;    /* to push down the defaults button */
}

/* Tab Panels start with display:none */
#panel-flex-items,
#panel-css-output,
#panel-flex-item-content{
  display:none;
}

.settings-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}



.input-field{
  display: flex;
  align-items:baseline;
  /* width: 100%; */
  padding:0px 0.5rem;
}

/* .input-field::after{
  content:'i';
  font-family:serif;
  font-size:1.2rem;
  border-radius:100%;
  min-width:1.4rem;
  text-align:center;
  vertical-align:center;
  margin-left:0.4rem;
  background:hsl(0, 0%, 20%);
  color:hsl(0, 20%, 80%);
} */

.input-field select, 
.input-field input {
  background-color: hsl(0, 10%, 80%);
  border: none;
  outline: none;
  box-shadow: none;
  height: 1.7rem;
  width: 100%;
  border-radius:3px;
}

.input-field > label {
  /* border:1px solid red; */
  flex-grow: 1;
  font-weight: bold;
  min-width: 8.5rem;
  margin-left: 4px;
  color:wheat;
}

.input-field > input {
  padding:0 0.4rem;
}

/* .action-button-set{
  flex: 1 1 auto;
  justify-content: space-around;
  gap:0.5rem;
background:green;
} */

.action-button {
  border: 1px solid gray;
  padding: 4px 0.4rem;
  border-radius: 8px;
  /* background-color: hsl(268, 83%, 25%); */
  background-color: hsl(357, 50%, 20%);
  color: wheat;
  flex-grow:1;
  box-shadow:var(--standard-box-shadow);
}

.action-button:hover {
  background-color: hsl(39, 40%, 75%);
  color: var(--header-background-color);
  cursor: pointer;
}



.action-button.flex-items-apply {
  /* border: 1px solid red; */
  min-width:8rem;
  margin-right:0.5rem;
}

#panel-flex-item-content{
  /* background:black; */
  height:100%;
}

.flex-item-content-wrapper{
  flex-grow:1;
  /* background-color:green; */
  margin:0 4px;
  max-width:calc(100% - 8px);
  /* height:60%; */
  margin-bottom:0.5rem;
}

.input-field.flex-items-apply{
  /* background:black; */
  margin-top:0.5rem;
  margin-bottom:0.5rem;
}


.content-label{
  display:block;
  width:100%;
  color:wheat;
  height:2rem;
  padding:0.5rem;
  text-align:center;
  background:none;
}

.flex-item-content-wrapper:first-of-type > .content-label{
  padding-top:0;
  height:1.5rem;
  /* background:black; */
}


#flex-item-text,
#custom-css-text,
#css-output {
  background-color: var(--general-text-background-color);
  font-family: inherit;
  font-weight:bold;
  font-size: 1rem;
  width: 100%;
  margin-top:2px;
  resize: none;
  overflow: auto;
  padding: 6px;
}


/* set as Flex in code when switchPanel() */
#panel-flex-item-content {
  flex-direction: column;
}

#flex-item-text, 
#custom-css-text {
  height:95%;
  /* height: 12rem; */
  /* min-width: 100%; */
  /* height: 40%; */
  /* background-color: var(--general-text-background-color); */
}

#panel-css-output{
  flex-direction:column;
  /* background:red; */
  margin:0 4px;
  height:calc(100% - 6px);
}

#css-output {
  /* flexbox container */
  min-height: calc(100% - 3rem);
  min-width:100%;
  border: 1px solid var(--panel-border-color);
  margin-bottom:0.5rem;
}



.device-header {
  height: 2rem;
  /* background-color: hsl(220, 20%, 74%); */
  background-color: black;
}

.device-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border:1px solid red; */
  width: 100%;
  height: 100%;
  /* border-bottom: 1px solid var(--panel-border-color); */
  /* border: 1px solid red; */
}

#select-device-menu {
  background: none;
  /* color: var(--tab-font-color); */
  color: var(--header-font-color);

  outline: none;
  text-align: left;
  border: none;
  font-size: 1.3rem;
  font-family: inherit;
  font-weight: bold;
  flex-grow: 1;
  margin-right: 0.8rem;
  /* width:8rem; */
  max-width: 15rem;
  /* max-width:10rem; */
  /* margin-bottom:10px; */
}

.layout-dimensions {
  font-size: 1rem;
  font-family: inherit;
  /* color: var(--tab-font-color); */
  color: var(--header-font-color);
  margin-left: 10px;
  flex-grow: 4;
}
.layout-dimensions::before {
  content: '( ';
}

.layout-dimensions::after {
  content: ' )';
}

.rotate-arrow {
  /* align-self: flex-end; */
  /* border:1px solid red; */
  padding: 2px 12px;
  max-width: 40px;
  border-radius: 8px;
  margin-right: 4px;
}

.rotate-arrow:hover {
  cursor: pointer;
  background-color: var(--tab-inactive-color);
}

.success {
  background-color: hsl(120, 30%, 45%);
}

.error {
  background-color: hsl(0, 77%, 36%);
}

.actionbutton.flex-items-apply{
  border:1px solid red;
}

